@model ImobAdmin.Models.Imagem

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Imagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImagemNome" class="control-label"></label>
                <input asp-for="ImagemNome" class="form-control" />
                <span asp-validation-for="ImagemNome" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EhDestaque" class="control-label"></label>
                <input asp-for="EhDestaque" class="btn btn-primary" />
                <span asp-validation-for="EhDestaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
