@model ImobAdmin.Models.Imovel

@{
    ViewData["Title"] = "Criar";

}

<h1>Criar</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.Cat">
                    <option value="" selected>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <select asp-for="BairroId" class="form-control" asp-items="ViewBag.Bairro">
                    <option value="" selected>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeContato" class="control-label"></label>
                <input asp-for="NomeContato" class="form-control" />
                <span asp-validation-for="NomeContato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelContato" class="control-label"></label>
                <input asp-for="TelContato" class="form-control" />
                <span asp-validation-for="TelContato" class="text-danger"></span>
            </div>

                        <div class="form-group">
                <label asp-for="TipoAcao" class="control-label"></label>
                <select asp-for="TipoAcao" class="form-control" asp-items="ViewBag.Status">
                    <option value="" selected>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EstaEmDestaque" class="control-label"></label>
                <input asp-for="EstaEmDestaque" />
                <span asp-validation-for="EstaEmDestaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dormitorios" class="control-label"></label>
                <input asp-for="Dormitorios" class="form-control" />
                <span asp-validation-for="Dormitorios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banheiros" class="control-label"></label>
                <input asp-for="Banheiros" class="form-control" />
                <span asp-validation-for="Banheiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sala" class="control-label"></label>
                <input asp-for="Sala" class="form-control" />
                <span asp-validation-for="Sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cozinha" class="control-label"></label>
                <input asp-for="Cozinha" class="form-control" />
                <span asp-validation-for="Cozinha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vagas" class="control-label"></label>
                <input asp-for="Vagas" class="form-control" />
                <span asp-validation-for="Vagas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Churrasqueira" class="control-label"></label>
                <input asp-for="Churrasqueira" />
                <span asp-validation-for="Churrasqueira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piscina" class="control-label"></label>
                <input asp-for="Piscina" />
                <span asp-validation-for="Piscina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edicula" class="control-label"></label>
                <input asp-for="Edicula" />
                <span asp-validation-for="Edicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

