<div id="carouselImoveis" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <center>
                <img src="~/Images/carousel.jpg" class="d-block w-100" alt="..." style="width: 500px; height: 500px">
            </center>
        </div>
        <div class="carousel-item">
            <center>
                <img src="~/Images/carousel2.jpg" class="d-block w-100" alt="..." style="width: 500px; height: 500px">
            </center>
        </div>
        <div class="carousel-item">
            <center>
                <img src="~/Images/caousel3.jpg" class="d-block w-100" alt="..." style="width: 500px; height: 500px">
            </center>
        </div>
        <div class="carousel-item">
            <center>
                <img src="~/Images/carousel4.jpg" class="d-block w-100" alt="..." style="width: 500px; height: 500px">
            </center>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImoveis" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImoveis" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
